<h1>Todolist</h1>

<p>
---
</p>
<p>
  <%
  var arrayLength = totolist.length;
  for (var i = 0; i < arrayLength; i++) {%>
    <% totolist[i] %>
  <%}%>
</p>
<p>
 ---
 </p>
 <form name="form1" method="POST" action="/todolist">
  <td>Add item :</td>
  <td><input type="text" name="append" ></td>
  <td colspan="2"><input type="submit" value="Add" ></td>
 </form>