<!DOCTYPE html>
<html>

<head>
  <title>Ma todolist</title>
  <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>

  <h1>Ma todolist</h1>
  <form method="POST" action="/">
    <ul id='todolist'>
      <% todolist.forEach(function(item) { %>
        <li>
        <%= buildElement(item)%>  
        </li>
        <% });%>
    </ul>
  </form>

  <form method="POST" name="add" action="/">
    <td>Que dois-je faire ?</td>
    <td>
      <input type="text" name="newitem" autofocus>
    </td>
    <td colspan="2">
      <input type="submit" value="Valider">
    </td>
  </form>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const io = io()

    .on('add', (task) => {
      addTask(task)
    })

    on('remove', (taskId) => {
      removeTask(taskId);
    });

    $('#add').submit(function () {
      var newTask = $('#newitem').val();
      socket.emit('add', newTask);
      addTask(pseudo, message);
      $('#message').val('').focus();
      return false;
    });

    function addTask(task) {
      $('#todolist').append(buildElement(task));
    }

    function buildElement(task) {
      return '<p><strong>' + X + '</strong> ' + task + '</p>';

      // <button type="submit" name="id" value="<%= item%>">✘</button>
      //    <%= item %>
    }

    function removeTask(taskId) {

    }
  </script>
</body>

</html>